  html,body{
    box-sizing: border-box;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: flex-end;

  }

  .marker {
    background-image: url('/src/marker-icon.svg');
    background-size: 100%;
    width: 25px;
    height: 43px;
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
}


  .marker:hover {
    filter: opacity(0.5);
  }


 /* .marker:hover svg:not() */

/* Info Box */
/* .hidden {
  display: none;
} */

.infoBox {
  position: absolute;
  height: 40%;
  width: 90%;
  margin: auto;
  z-index: 1;

  background-color: #F3F8FA;

}
