  html,body{
    box-sizing: border-box;
    margin:0;
  }

  .marker {
    background-image: "/src/plupp.svg";
  }

  .marker svg path {
    fill: orangered;
  }

  .marker svg path {
    opacity: 50%;
  }

  .marker:hover svg path {
    fill: green;
  }

  /* .marker:hover svg:not() */