  html,body{
    box-sizing: border-box;
    margin:0;
  }

  .marker {
    background-image: url('/src/marker-icon.svg');
    background-size: 100%;
    width: 25px;
    height: 43px;
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
}


  .marker:hover {
    filter: opacity(0.5);
  }


 /* .marker:hover svg:not() */

/* Info Box */
/* .hidden {
  display: none;
} */

.InfoBox {
  position: fixed;
  height: 370;
  width: 90%;
  margin: auto;

  background-color: #F3F8FA;

}
